apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-kuma
  namespace: kuma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      initContainers:
      - name: fix-permissions
        image: busybox:latest
        command: ['sh', '-c', 'chown -R 1000:1000 /app/data']
        volumeMounts:
        - mountPath: /app/data
          name: kuma-data-01
        securityContext:
          runAsUser: 0
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsNonRoot: true
      containers:
        - name: uptime-kuma
          image: louislam/uptime-kuma:latest
          env:
            - name: UPTIME_KUMA_PORT
              value: "3001"
            - name: PORT
              value: "3001"
          ports:
            - name: uptime-kuma
              containerPort: 3001
              protocol: TCP
          volumeMounts:
            - name: kuma-data-01
              mountPath: /app/data
      volumes:
        - name: kuma-data-01
          persistentVolumeClaim:
            claimName: kuma-data-01
